{% extends 'lostandfound/base.html' %}

{% block content %}

<div class="max-w-4xl mx-auto mt-6 md:mt-10 px-6 py-10 bg-white/90 border-4 border-green-700 rounded-xl shadow-xl text-center">

    <h2 class="text-4xl font-bold mb-10">
        Welcome to the USLS Lost & Found System
    </h2>
    <p class="text-lg mb-10">
    Where lost items are found and returned to their rightful owners. Because a true Lasallian is HONEST. 

    </p>

    <div class="flex flex-col sm:flex-row justify-center gap-6 sm:gap-8">

        <a href="/lostitems/"
           class="bg-red-500 hover:bg-red-600 text-white px-8 py-4 rounded-lg text-xl shadow-lg">

            View Lost Items

        </a>

        <a href="/founditems/"
           class="bg-green-700 hover:bg-green-800 text-white px-8 py-4 rounded-lg text-xl shadow-lg">

            View Found Items

        </a>

    </div>

</div>

{% endblock %}